@use "./global.scss" as *;
.p-game2d-scene-result{
  &__score{
    position:absolute;
    top:5vw;
    left:25vw;
    width:50vw;
    font-size:5vw;
    @media (orientation: landscape) {
      left:10vw;
    }
  }
  &__name{
    position:absolute;
    top:15vw;
    left:25vw;
    width:50vw;
    font-size:5vw;
    white-space: pre;
    @media (orientation: landscape) {
      left:10vw;
    }
  }
  &__player-score-list{

    position:absolute;
    left:30vw;
    top:25vw;
    width:40vw;
    @media (orientation: landscape) {
      left:50%;
      top:10vw;
    }
  }
  &__player-score{
    display:flex;
    font-size:5vw;
    gap:2vw;
    @media (orientation: landscape) {
      font-size:3vw;
    }
  }
  &__player-score-rank{
    width:3em;
    text-align: right;
  }
  &__player-score-name{
    white-space: pre;
    width:3em;
  }
  &__player-score-score{
    flex-grow: 1;
    text-align: right;
  }
}