@use "./global.scss" as *;

.p-ui-view{
  position:fixed;
  box-sizing: border-box;
  right:0;
  bottom:0;
  width:50%;
  height:40vw;
  background-color:rgba(255,255,255,0.5);
  border-radius:$BORDER_RADIUS;
  padding:$BORDER_RADIUS;
  &--hidden{
    display:none;
  }
  &__foot-button-list{
    display:flex;
    justify-content: space-between;
    margin-bottom:2vw;
  }
  &__foot-button{
    font-size:10vw;
    width:15vw;
    &--j{

    }
    &--k{

    }
    &--l{

    }
  }
  &__system-button-list{
    display:flex;
    justify-content: space-between;
  }

  &__system-button{
    font-size:2vw;
    width:15vw;
    &--toggle-debug{

    }
    &--toggle-ui{

    }
    &--toggle-fullscreen{

    }
  }
}