@use "./global.scss" as *;

.p-ui-view{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  height:50%;
  background-color:rgba(255,255,255,0.5);
  border-radius:$BORDER_RADIUS;
  padding:$BORDER_RADIUS;
  &--hidden{
    display:none;
  }
  &__foot-button-list{
    display:flex;
  }
  &__foot-button{
    &--j{

    }
    &--k{

    }
    &--l{

    }
  }
  &__system-button-list{
    display:block;
  }
  &__system-button{
    &--toggle-debug{

    }
    &--toggle-ui{

    }
  }
}